# Test platform:
# CPU - AMD Ryzen 5 7500F
# GPU - AMD Radeon 7900XTX
# RAM - 64GB DDR5 6600MHz
# SWAP - 64GB 
# Motherboard - Gigabyte X870 AORUS ELITE WIFI7 (BIOS F8e)
# OS - Debian 13.2
# Kernel - 6.12.57+deb13-amd64
# ROCm - 7.1

base_settings:
  audio_codec: nvidia/nemo-nano-codec-22khz-0.6kbps-12.5fps
  num_readers: 2
  qsize: 100000
  OUT_DIR: shards 
  gzip_level: 1
  buffer_size: 16777216
  lines_per_file: 50000
  load_dataset_num_proc: 2

save_settings:
  local: ../polish          
  hf_upload: null

hf_datasets:

  - name: ../Common-Voice-2-Parquet/output
    sub_name: null                
    split: train.other.500
    text_column_name: text
    audio_column_name: audio
    speaker_column_name: speaker_id
    add_constant:
      - key: speaker
        value: kate
      - key: lang
        value: en